/* ============================================= */
 /* Variables */
 /* ============================================= */

 $color-primary: #51ddfc;
 $color-secondary: #63cc82;
 $error: #e46a70;
 $red: #ff2424;
 $purple: #927bc1;
 $grey: #777;

 $breakpoint: 768px;